@charaset "UTF-8" ;

body{
    margin: 0 auto ;
    font-family: 'Courier' ;
}

/*
#wrap {
    margin: 0 auto ;
}


.box{
    width: 100px ;
    height: 100px ;
    position: fixed ;
    top: 100px ;
    left: 100px ;
    background-color: aqua ; 
    outline: dashed 1px #6666ff ;
    opacity: 0.8 ; 不透明度
}

*/

#wrap h1 {
    height: 100px ;
    padding-left: 40px ;
    line-height: 100px ;
    background: darkslateblue ;
    color: #fff ;
    font-size: 50px ;
}

ul.tabControle {
    height: 50px ;
    margin: 20px 100px ;
    display: flex ;
    justify-content: space-between ;
    border-radius: 
}

ul.tabControle li {
    width: 100px ;
    height: 50px ;
    text-align: center ;
    line-height: 50px ;
    background: #6896fc ;
    color: darkslateblue ;
    border-radius: 50px;
}

ul.tabMenu {
    height: 50px ;
    margin: 20px ;
    display: flex ;
    justify-content: space-around ;
    
}
ul.tabMenu li {
    width: 500px ;
    margin: 0 10px ;
    text-align: center ;
    line-height: 50px ;
    font-size: 30px ;
    background: #8b0000  ;
    color: #fff ;
    border-radius: 10px ;
}

ul.tabMenu li:nth-child(odd) {
    background: #340000 ;
}

.tabMenuItem.on {
    background: red ;
}

.tabContents {
    margin: 30px ;
}

section.tabItem  {
    height: 100px ;
    margin: 20px 0;
    background: azure ;
}

section.tabItem h2 {
    height: 50px ;
    line-height: 50px ;
    background: darkslateblue ;
    color: #fff;
}

section.tabItem p{
   line-height: 50px ;
}

section.tabItem.on {
    background: red ;
    display: block ;
}


/*共通の設定*/
li{
    list-style: none ;
}
li:hover {
    opacity: 0.5 ;
}


